@import url("https://use.typekit.net/wrl1xwi.css");

:root {
  --color-1: #81899d;
  --color-2: #ced0d5;
  --color-3: white;
  --color-4: #969ead;
  --font-1: neue-haas-grotesk-display;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-1);
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 2.5vw;
  top: 30%;
  transform: translateY(-50%);
  z-index: 999;
  font-family: var(--font-1);
}

.navigation li {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  margin: 30px;
  border: 2px solid var(--color-3);
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: row-reverse;
}

.navigation div p {
  color: var(--color-3);
  margin: 0;
  font-size: calc(10px + 0.2vw);
  position: fixed;
  /* right: 30px; */
  margin-top: -0.22vw;
  margin-left: -11.5vw;
  width: 10vw;
  text-align: right;
}

.navigation li:hover,
.navigation li.selected {
  background: var(--color-3);

  transform: scale(1.5);
}
section {
  height: 100vh;
  position: relative;
}

section > div > #napis {
  font-size: 30px;
  position: absolute;
  left: 4vw;
  top: 100px;
}

/*TEXT HOME PAGE*/

h1 {
  font-family: var(--font-1);
  font-weight: 200;
  font-size: calc(70px + 2vw);
  width: 7em;
  letter-spacing: 1vw;
  padding: 0;
  color: var(--color-2);
  margin: 10px 0 0 0;
}
h2 {
  margin: 10px 0 0 0;
  font-family: var(--font-1);
  font-weight: 200;
  font-size: calc(70px + 2vw);
  width: 7em;
  letter-spacing: 1vw;
  padding: 0;
  color: var(--color-3);
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;
}

#title2 {
  z-index: 1000;
  position: absolute;
  top: 1vw;
  left: 1vw;
}

#about {
  display: grid;
  grid-template-columns: 25% 45%;
  column-gap: 10%;
}

#about img {
  max-width: 100%;
  padding-left: 4vw;
}

section > #about {
  position: absolute;
  top: 10%;
}

/*skills dots*/

#skills {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  column-gap: 2vw;
}

/* #about {
  opacity: 0;
} */

#container {
  display: flex;
}

#container h4 {
  margin: 1vw 0 1vw 0;
  width: 5vw;
}
.dot {
  margin: 1vw;
  height: 1vw;
  width: 1vw;
  background-color: var(--color-3);
  border-radius: 50%;
  display: inline-block;
}

.dotempty {
  margin: 1vw;
  height: 0.8vw;
  width: 0.8vw;
  border: 1px solid;
  border-color: var(--color-3);
  border-radius: 50%;
  display: inline-block;
}
/* Animation */

.draw {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 10s forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

main #svg_path {
  width: 27%;
  margin-top: -1vw;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  left: 3vw;
}
