@import url("https://use.typekit.net/wrl1xwi.css");

:root {
  --color-1: #81899d;
  --color-2: #969ead;
  --color-3: white;
  --font-1: neue-haas-grotesk-display;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-1);
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  font-family: var(--font-1);
}

.navigation li {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  margin: 20px;
  border: 2px solid var(--color-3);
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: row-reverse;
}

div p {
  color: var(--color-3);
  margin: 0;
  font-size: calc(10px + 0.2vw);
  position: fixed;
  /* right: 30px; */
  margin-top: -3px;
  margin-left: -11.5vw;
  width: 10vw;
  text-align: right;
}

.navigation li:hover,
.navigation li.selected {
  background: var(--color-3);

  transform: scale(1.5);
}
section {
  height: 100vh;
  position: relative;
}

section > div {
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*TEXT HOME PAGE*/

h1 {
  font-family: var(--font-1);
  font-weight: 200;
  font-size: calc(50px + 2vw);
  width: 7em;
  letter-spacing: 1vw;
  padding: 0;
  color: var(--color-2);
}
h2 {
  font-family: var(--font-1);
  font-weight: 200;
  font-size: calc(50px + 2vw);
  width: 7em;
  letter-spacing: 1vw;
  margin-left: 3vw;
  padding: 0;
  color: var(--color-3);
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#title {
  /* width: 50%; */
}
#title2 {
  position: absolute;
  z-index: 1000;
  top: 1.2em;
  left: 1.6em;
  margin-top: 0;
}
