@import url("https://use.typekit.net/wrl1xwi.css");

:root {
  --color-1: #81899d;
  --color-2: #ced0d5;
  --color-3: white;
  --color-4: #969ead;
  --font-1: neue-haas-grotesk-display;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-1);
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 2.5vw;
  top: 30%;
  transform: translateY(-50%);
  z-index: 999;
  font-family: var(--font-1);
}

.navigation li {
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  margin: 30px;
  border: 1.5px solid var(--color-3);
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: row-reverse;
}

.navigation div p {
  color: var(--color-3);
  margin: 0;
  font-size: calc(10px + 0.2vw);
  position: fixed;
  /* right: 30px; */
  margin-top: -0.22vw;
  margin-left: -12vw;
  width: 10vw;
  text-align: right;
}

.navigation li:hover,
.navigation li.selected {
  background: var(--color-3);
  transform: scale(1.5);
}
section {
  height: 100vh;
  position: relative;
}

section > div > #napis {
  font-size: 30px;
  position: absolute;
  left: 4vw;
  top: 100px;
}

/*TEXT HOME PAGE*/

h1 {
  font-family: var(--font-1);
  font-weight: 200;
  font-size: calc(70px + 2vw);
  width: 7em;
  letter-spacing: 1vw;
  padding: 0;
  color: var(--color-2);
  margin: 10px 0 0 0;
}
h2 {
  margin: 10px 0 0 0;
  font-family: var(--font-1);
  font-weight: 200;
  font-size: calc(70px + 2vw);
  width: 7em;
  letter-spacing: 1vw;
  padding: 0;
  color: var(--color-3);
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;
}

#title2 {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#about {
  display: grid;
  grid-template-columns: 25% 44%;
  column-gap: 10%;
}

#about img {
  max-width: 95%;
  padding-left: 4vw;
}

section > #about {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#line {
  position: absolute;
  top: 39vh;
  height: 65vh;
  left: 70vw;
}

#scroll {
  position: absolute;
  top: 34vh;
  font-family: var(--font-1);
  left: 67vw;
  font-size: 1.1vw;
  letter-spacing: 0.3vw;
  color: var(--color-2);
}
#scroll {
  display: flex;
  flex-direction: row;
}

.ani {
  animation: ani_kf 1s infinite ease-in-out alternate;
}

@keyframes ani_kf {
  100% {
    transform: translateY(0.2vw);
  }
}

/*about and skills dots*/

#skills {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  column-gap: 2vw;
  margin-bottom: 2vw;
}

#about p,
h3,
h4 {
  font-family: var(--font-1);
}

#info {
  margin-top: -2.5vw;
}

#about p {
  font-size: calc(3px + 1vw);
  text-align: justify;
  color: white;
  letter-spacing: 0.4px;
}
#about h3 {
  letter-spacing: 0.2vw;
  font-size: calc(6px + 2vw);
  font-weight: 400;
  margin: 0;
  color: var(--color-2);
}
#about a {
  letter-spacing: 0.1vw;
  font-size: calc(8px + 1vw);
  font-weight: 400;
  font-family: var(--font-1);
  color: var(--color-2);
  text-decoration: underline;
  cursor: pointer;
}

#container {
  display: flex;
}

#container h4 {
  margin: 0.7vw 0 0.7vw 0;
  width: 7vw;
  font-size: calc(3px + 1vw);
  font-weight: 200;
  color: white;
}
.dot {
  margin: 0.95vw 0.6vw 0.7vw 0.6vw;
  height: 1.1vw;
  width: 1.1vw;
  background-color: var(--color-3);
  border-radius: 50%;
  display: inline-block;
}

.dotempty {
  margin: 0.95vw 0.6vw 0.7vw 0.6vw;
  height: 0.9vw;
  width: 0.9vw;
  border: 1px solid;
  border-color: var(--color-3);
  border-radius: 50%;
  display: inline-block;
}
/* Animation */

.draw {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: dash 20s forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

main #svg_path {
  width: 26%;
  margin-top: -1vw;
  margin-bottom: auto;
  position: absolute;
  top: 0;
  left: 3vw;
}

.hidden {
  display: none;
}

/*PROJECTS MENUUU*/
.accordion {
  margin-left: 6vw;
  max-width: 73vw;
  position: absolute;
  margin-top: 5vw;
  /* top: 50%;
  transform: translateY(-50%); */
}
.accordion-item:hover {
  transform: scale(1.01);

  color: white;
}

.accordion-item:hover h3 {
  /* transform: scale(1.01); */
  transform: translateY(-1vw);
  color: white;
}

.accordion-item.active h3 {
  transform: translateY(-1vw);
  color: white;
}

.accordion-item:hover h3 .extra {
  display: block;
}

.accordion-item {
  background-color: transparent;
  margin-bottom: 15px;
  /* box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid var(--color-2);
  transition: background-color 0.2s ease-in 0.3s;
}
.accordion-item.active {
  background-color: var(--color-1);
  transition: background-color 0.2s ease-in 0s;
}
.accordion-item.active .accordion-header {
  color: white;
  background-color: var(--color-1);
  transition: background-color 0.2s ease-in 0s, color 0.2s ease-in 0.2s;
}
.accordion-item.active .accordion-header h3:before,
.accordion-item.active .accordion-header h3:after {
  background-color: white;
  transition: background-color 0.2s ease-in 0.2s, transform 0.2s ease 0.1s;
}
.accordion-item.active .accordion-header h3:before {
  display: none;
}
.accordion-item.active .accordion-header h3:after {
  transform: rotate(90deg);
}
.accordion-item.active .accordion-body {
  max-height: 500px;
  padding: 15px 10px 10px 10px;
  transition: max-height 0.3s ease-in 0s, padding 0.2s ease-in 0s;
}
.accordion-item.active .accordion-body p {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.2s;
}

.accordion-item.active h3 .extra {
  display: block;
}
.accordion-header {
  color: white;
  background-color: var(--color-1);
  border-radius: 5px;
  padding: 10px;
  height: 4.5vw;
  cursor: pointer;
  transition: background-color 0.2s ease-out 0.3s, color 0.2s ease-out 0s;
}
.accordion-header h3 {
  position: relative;
  font-size: calc(6px + 2vw);
  letter-spacing: 0.025em;
  font-weight: 200;
  margin: 0;
  color: var(--color-2);
  font-family: var(--font-1);
  width: 100%;
  letter-spacing: 0.5vw;
}

.accordion-item h2 {
  font-size: calc(10px + 2vw);
  position: absolute;
  top: 15px;
  letter-spacing: 0.5vw;
  pointer-events: none;
  opacity: 0;
}

.move {
  animation: ani_outline 1s forwards ease-in-out alternate;
}

@keyframes ani_outline {
  100% {
    opacity: 100%;
    transform: translate(1vw, 1vw);
  }
}

.accordion-header h3 .extra {
  font-size: calc(5px + 1vw);
  display: none;
  letter-spacing: 2px;
}

.accordion-header h3:before,
.accordion-header h3:after {
  content: "";
  position: absolute;
  background-color: white;
  transition: background-color 0.2s ease-in 0s, transform 0.2s ease 0s;
}
.accordion-header h3:before {
  width: 10px;
  height: 2px;
  right: 0;
  top: calc(50% - 1px);
}
.accordion-header h3:after {
  width: 2px;
  height: 10px;
  right: 4px;
  top: calc(50% - 5px);
  transform: none;
}
.accordion-body {
  max-height: 0;
  padding: 0 15px;
  overflow: hidden;
  transition: max-height 0.2s ease-out 0s, padding 0.1s ease-out 0.2s;
}
.accordion-body p {
  opacity: 0;
  margin: 0;
  transition: opacity 0.2s ease-in 0s;
  font-family: var(--font-1);
}

.body-wrapper a {
  font-family: var(--font-1);
  color: var(--color-3);
  letter-spacing: 1px;
  font-size: calc(6px + 1vw);
  text-decoration: underline;
  padding-top: 2vw;
}

.body-wrapper a:hover {
  color: var(--color-2);
  cursor: pointer;
}

.body-wrapper p {
  font-size: calc(3px + 1vw);
  text-align: justify;
  color: white;
  letter-spacing: 0.04vw;
}

.body-wrapper p:nth-child(1) {
  margin-bottom: 1vw;
}
.body-wrapper p:nth-child(2) {
  margin-bottom: 1vw;
  word-spacing: 0.2vw;
}
.body-wrapper {
  margin-bottom: 1vw;
  padding: 0;
  display: grid;
  grid-template-columns: 33% 60%;
  column-gap: 6%;
}

.accordion-body img {
  max-width: 100%;
}

.accordion-body img:nth-child(2) {
  margin-top: 1vw;
}
